/**
 * Author: ChenRan
 * Time: 2017/08/03
 * Description: base.css
 */

@charset "utf-8";
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow:auto;
    line-height:1.42857143;
    font-size:14px;
    /*font-family:"\5FAE\8F6F\96C5\9ED1";*/
}

/*@media (min-width: 1336px) {.container {width: 1306px;}}*/
/*@media (min-width: 1440px) {.container {width: 1410px;}}*/
/*@media (min-width: 1560px) {.container {width: 1530px;}}*/
/*@media (min-width: 1680px) {.container {width: 1650px;}}*/
/*@media (min-width: 1800px) {.container {width: 1770px;}}*/
/*@media (min-width: 1900px) {.container {width: 1870px;}}*/
/* body *{background: none;} */

/**bootstrap 添加样式*/
.navbar-header {margin-left:50px;}
.navbar-right{margin-right:50px;}

/**自定义桌面样式*/
.navbar-header .nav-brand-custom {color:#c2c2c2; font-size: 22px;}
.nav-brand-custom:hover{color:#ffffff;}
.nav-op-icon {margin-right: .3em;height: 12px;}

.bg_main_cover{position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: /* url(../images/desktop/main1.jpg) */ #666666;background-size:cover ; }
.content-body{margin-top:51px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;z-index: 10;display: block;}

.content-left {overflow-y: auto; background-color: #f5f5f5;}

.nav-sidebar {
    margin-right: -15px;
    margin-top: 0;
    margin-left: -15px;
    overflow-x: hidden;
    height: 100%;
    padding-top: 15px;
}
.nav-sidebar li {
    margin-bottom: -2px;
    }
.nav-sidebar li a {
    border-radius:0;
    line-height: 25px;}

.content-height,.content-left {height:100%;}

.content-right {background:#666666;height: 100%;}
.content-container {width: 100%;height: 100%;background: #ffffff;padding: 5px;overflow-y: auto;}
.content-container .content-div {width: 100%;overflow-y: auto;}

.tracking_div {border: 1px solid #cccccc;border-top:none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

.third-menu-ul {width:100%;padding: 30px;}
.third-menu-ul li {border: 1px solid #dddddd;border-radius: 4px;background-color: #e1e1e1;}

.detail-div {border: 1px solid #cccccc;margin-top: 10px;border-radius: 5px;}
.path-nav{margin-top: 10px;}
/*.detail-ul {overflow-y: auto;}*/
.detail-ul li{width: 100%;border-bottom: 2px dotted #d5d5d5;list-style: none;margin: 10px 0 0 -20px;}
.detail-ul li .section {margin-bottom: 5px;min-height: 150px;}
.detail-ul li .section .section-top {text-align: center;color:#FF9900;}
.detail-ul li .section p {font-size: 16px;font-weight: 300;max-width: 500px;margin: 0 auto;color:#FF9900;}


.steps-td-icon {position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width:17px;
    height:17px;

}
.steps-td-question {background:url("icon/icon-question.png") no-repeat; }
.steps-td-correct {background:url("icon/icon-correct.png") no-repeat; }
.steps-td-error {background:url("icon/icon-error.png") no-repeat; }
.steps-td-edit {background:url("icon/icon-edit.png") no-repeat; }
.steps-td-loading {background:url("icon/icon-loading.png") no-repeat; }
