/**
 * Author: ChenRan
 * Time: 2017/08/03
 * Description: base.css
 */

@charset "utf-8";
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    overflow:auto;
    line-height:1.42857143;
    font-size:14px;
    /*font-family:"\5FAE\8F6F\96C5\9ED1";*/
}

/*@media (min-width: 1336px) {.container {width: 1306px;}}*/
/*@media (min-width: 1440px) {.container {width: 1410px;}}*/
/*@media (min-width: 1560px) {.container {width: 1530px;}}*/
/*@media (min-width: 1680px) {.container {width: 1650px;}}*/
/*@media (min-width: 1800px) {.container {width: 1770px;}}*/
/*@media (min-width: 1900px) {.container {width: 1870px;}}*/
/* body *{background: none;} */

/**bootstrap 添加样式*/
.navbar-header {margin-left:50px;}
.navbar-right{margin-right:50px;}

/**自定义桌面样式*/
.navbar-header .nav-brand-custom {color:#c2c2c2; font-size: 22px;}
.nav-brand-custom:hover{color:#ffffff;}
.nav-op-icon {margin-right: .3em;height: 12px;}

.bg_main_cover{position: absolute;top: 0;left: 0;bottom: 0;right: 0;background: /* url(../images/desktop/main1.jpg) */ #666666;background-size:cover ; }
.content-body{margin-top:51px;position: absolute;top: 0;left: 0;bottom: 0;right: 0;z-index: 10;display: block;}

.content-left {overflow-y: auto; background-color: #f5f5f5;}

.nav-sidebar {
    margin-right: -15px;
    margin-top: 0;
    margin-left: -15px;
    overflow-x: hidden;
    height: 100%;
    padding-top: 15px;
}
.nav-sidebar li {
    margin-bottom: -2px;
    }
.nav-sidebar li a {
    border-radius:0;
    line-height: 25px;}

.content-height,.content-left {height:100%;}

.content-right {background:#666666;height: 100%;overflow: hidden}
.right-main{background: #ffffff;height: 100%;}
.right-header {width: 100%;height: 18%;padding: 5px;overflow-y: auto;min-height: 163px;}
/*.content-header .content-div {width: 100%;}*/

.tracking_div {border: 1px solid #cccccc;border-top:none;border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;}

.third-menu-ul {width:100%;padding: 30px;}
.third-menu-ul li {border: 1px solid #dddddd;border-radius: 4px;background-color: #e1e1e1;}

.right-body {height: 80%;border: 1px solid #cccccc;margin: 0 5px;border-radius: 5px;}
.path-nav{margin-top: 10px;height: 5%;min-height: 36px;max-height: 36px;margin-bottom: 10px;}
.right-content-div{height: 90%;}
.im-div {height: 100%;border: 0px solid;margin-left:25px;}
.im-content{width: 350px; border:1px solid #00aff0; border-radius:5px 5px 0 0;height: 100%;background:url("icon/icon-im-bg.png");background-position-y: -100px;}
.im-msg{height: 75%; overflow-y: auto;}
.im-msg .msg-content{margin-top: 10px;}
.im-msg .msg_from {margin: 0 30px 0 10px;padding: 10px;border-radius: 25px; border-bottom-left-radius: 0px;border-top-left-radius: 45px;border: 1px solid #cccccc;background: #ffffff;}
.im-msg .msg_from .section-top {text-align: center;color:#FF9900;}
.im-msg .msg_from p {font-size: 16px;font-weight: 300;max-width: 500px;margin: 0 auto;color:#FF9900;}
.im-msg .msg_from .info {text-align: right;margin: 5px 5px 0 0;}
.im-msg .msg_from .info a{font-size: 14px;font-weight: 300;color:#0080FF; text-decoration-line: underline;}
.im-msg .msg_from .info a:hover{color: #FF0000;}

.im-msg .msg_to {margin: 0 10px 0 30px;padding: 10px;border-radius: 25px; border-bottom-right-radius: 0px;border-top-right-radius: 45px;border: 1px solid #4cae4c;background: #5cb85c; color: #fff;}
.section {margin-bottom: 5px;min-height: 150px;}

.im-dlg{height: 25%; background:#ffffff; }
.im-dlg .toolbar{height: 10%;min-height: 35px;border-bottom: #f2f2f2 1px solid;}
.im-dlg .toolbar .send{float: right;padding: 6px 20px 0 30px;background: url("icon/icon-send.png") no-repeat;background-position-y: 8px;color:#13BEEC;cursor: pointer}
.im-dlg .im-txt{width: 96% ; height: 75%;margin-left: 5px; border-bottom: 1px solid #f2f2f2; }

.detail-div {height: 100%;margin-left: -100px;border: 1px solid #999999;position: relative;}
.detail-div .detail-arrow {width:32px;height: 64px;background: url('icon/icon-arrow-left.png') no-repeat #fff;background-position-y: center;display: inline-block;margin-left: -92px; top:40%;position: absolute;}
.detail-div .detail-step {width:100%;height: 100%;margin-left: -5px;display: inline-block;}

.steps-td-icon {position: relative;
    top: 1px;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    width:17px;
    height:17px;

}
.steps-td-question {background:url("icon/icon-question.png") no-repeat; }
.steps-td-correct {background:url("icon/icon-correct.png") no-repeat; }
.steps-td-error {background:url("icon/icon-error.png") no-repeat; }
.steps-td-edit {background:url("icon/icon-edit.png") no-repeat; }
.steps-td-loading {background:url("icon/icon-loading.png") no-repeat; }
