<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="jslib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="css/base.css" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand nav-brand-custom" href="#">ProjectName</a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right ">
            <!--<li><a href="#" title="修改密码"><i class="glyphicon glyphicon-lock nav-op-icon"></i>密码</a></li>-->
            <li><a href="#" title="Help"><i class="glyphicon glyphicon-book nav-op-icon"></i>Help</a></li>
            <li><a href="#" title="Exit"><i class="glyphicon glyphicon-log-out nav-op-icon"></i>Exit</a></li>
        </ul>
    </div>
</nav>
<div class="bg_main_cover"></div>
<div class="container-fluid content-body" ng-app="desktopApp" ng-controller="desktopCtrl">
    <div class="row-fluid content-height">
        <div class="col-sm-3 col-md-2 col-lg-2 content-left">
            <ul class="nav nav-pills nav-stacked nav-sidebar">
                <li ng-repeat="menu in menuArr | orderBy:'menuSort'" ng-class="{active: current === $index}" ng-click="clickNav($index)">
                    <a href="#">{{menu.menuName}}</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-10 col-lg-10 content-right" >
            <div id="right-content-container" class="content-container">
                <ul class="nav nav-tabs nav-justified second-menu-ul">
                    <li class="active dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Prb0002<span class="caret"></span></a>
                        <ul class="dropdown-menu third-menu-ul">
                            <li><a href="#">Problem Summary</a></li>
                            <li><a href="#">View Check Result</a></li>
                            <li><a href="#">View Healing Result</a></li>
                        </ul></li>
                    <li><a href="#">Prb0003</a></li>
                    <li><a href="#">Prb0004</a></li>
                </ul>
                <div class="content-div">
                    <!--<div>-->
                        <!--<ul class="nav nav-pills">-->
                            <!--<li class="active"><a href="#">Problem Summary</a></li>-->
                            <!--<li><a href="#">View Check Result</a></li>-->
                            <!--<li><a href="#">View Healing Result</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <ol class="breadcrumb path_nav">
                        <li><a href="#">View Check API</a></li>
                        <li><a href="#">Prob0002</a></li>
                        <li class="active">Problem Summary</li>
                    </ol>
                    <div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bower:js -->
<script src="jslib/angular/angular.js"></script>
<script src="jslib/jquery/dist/jquery.js"></script>
<script src="jslib/bootstrap/dist/js/bootstrap.js"></script>
<script src="jslib/angular-route/angular-route.js"></script>
<!-- endbower -->
<script src="script/index.js"></script>
</body>
</html>